<!DOCTYPE html>
<html>

<head>
    <title>{{ tab_name }}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript"
        src="https://dashboard.health.ikang.com/javascripts/api/tableau-2.1.0.min.js"></script>
    <script type="text/javascript">
        function initViz() {
            var containerDiv = document.getElementById("vizContainer"),
                url = "https://dashboard.health.ikang.com{{ tab_url }}?:embed=y&:showShareOptions=false&TOKEN={{ token }}",
                options = {
                    hideTabs: true,
                    onFirstInteractive: function () {
                        console.log("Run this code when the viz has finished loading.");
                    }
                };

            var viz = new tableau.Viz(containerDiv, url, options);
            // Create a viz object and embed it in the container div.
        }
    </script>
</head>
<style>
    *{margin:0;padding:0;font-size:12px;}
    ul li{list-style-type:none;}
    input{outline:none;}
    a{text-decoration:none;}
    img{border:none 0;}

    .control{border-bottom:1px solid #b2b2b2;margin-bottom:5px;height:40px;}
    .control .back{color:#333333;cursor:pointer;line-height:40px;padding:0 0 0 20px;}
    .control .back a{color:#333333;}
    .control select{float:right;margin:10px 20px 0 0;outline:none;}
</style>
<body onload="initViz();">
    <div class="control">
        <span class="back"><a href="/report_list">首页</a></span>
        <select name="" id="" onchange='(function(e){window.location.href(e.value)})(this)'>
            {% for report in reports %}
            <option value="{{ report[1] }}" {{ '' if report[1].find(tab_url) == -1 else 'selected' }}>{{ report[0] }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="vizContainer" style="position: absolute;top:46px;left: 0;right:0;bottom:0;"></div>
</body>

</html>
